body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	height: 92vh;
}

.main-page {
	margin-left: 25%;
	margin-right: 25%;
	padding: 2rem;
	height: 100%;
	background-color: rgb(243, 243, 239);
}

h1 {
	text-align: center;
}

.flex-row {
	display: flex;
	flex-wrap: wrap;
}

#box {
	margin-bottom: 4rem;
}

.extra-box {
	margin-bottom: 4rem;
}

.ml-12 {
	margin-left: 12rem;
}

.mt-5 {
	margin-top: 5rem;
}

.upright {
	writing-mode: vertical-rl;
	text-orientation: mixed;
}

.margin {
	background-color: lightsalmon;
	width: 192px;
	height: 148px;
}

.border {
	background-color: papayawhip;
	width: 152px;
	height: 108px;
}

.padding {
	background-color: olivedrab;
	width: 112px;
	height: 68px;
}

.element {
	background-color: lightblue;
	width: 72px;
	height: 28px;
}

.css-box-model {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 10px;
	border-style: dashed;
	border-width: 1px;
}

.labelText {
	position: absolute;
	top: 2px;
	left: 5px;
}

ul {
	padding: 8px;
	margin: 0;
	list-style-type: none;
	width: 100%;
	height: auto;
	margin-top: -0.5rem;
	margin-left: -8px;
	background-color: #292929;
	position: fixed;
	overflow: auto;
}

@media only screen and (max-width: 640px) {
	.side-nav {
		padding: 8px;
		text-align: center;
		display: block;
	}

	.main-page {
		margin-right: -0.5rem;
		margin-left: -0.5rem;
	}

	.flex-row {
		flex-direction: column;
	}

}

@media only screen and (min-width: 640px) {
	.side-nav {
		padding: 8px;
		display: inline;
	}
}

.side-nav {
	margin-left: -8px;
}

a {
	text-decoration: none;
	color: white;
}

.side-nav a:hover {
	padding: 8px;
	margin-left: -8px;
	margin-right: -8px;
	background-color: #555;
	color: white;
}

.active {
	background-color: #4CAF50;
	color: white;
}
